# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
*.local

# Logs
*.log
npm-debug.log*
